[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=twitter
GenericName=Prism for twitter
Exec=prism-twitter
Terminal=false
Type=Application
Icon=prism-twitter
Categories=Favorites
StartupWMClass=Prism
StartupNotify=true
