[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Facebook
GenericName=Prism for Facebook
Exec=prism-facebook
Terminal=false
Type=Application
Icon=prism-facebook
Categories=Favorites
StartupWMClass=Prism
StartupNotify=true
