[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Google Docs
GenericName=Prism for Google Docs
Exec=prism-google-docs
Terminal=false
Type=Application
Icon=prism-google-docs
Categories=Favorites
StartupWMClass=Prism
StartupNotify=true
