Source: jolicloud-tweaks
Section: misc
Priority: extra
Maintainer: Jolicloud developers <developers@jolicloud.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.jolicloud.org

Package: jolicloud-tweaks
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, firefox, netbook-launcher, gdm
Description: Jolicloud configuration tweaks
 Scripts that tweak a bit Ubuntu to adapt it more to netbooks and to Jolicloud
