#!/usr/bin/make -f

DEB_REMOVE_FILES_jolicloud-legacy-tweaks += /usr/share/gconf/defaults/30_jolicloud-panel-default-settings.entries

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk

