[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Get Started
GenericName=Prism for My Jolicloud
Exec=prism-jolicloud
Terminal=false
Type=Application
Icon=prism-jolicloud
Categories=Favorites
StartupWMClass=Prism
StartupNotify=true
